init_config:

instances:
  - server: localhost
    user: {{ mysql_datadog_user }}
    pass: {{ mysql_datadog_password }}
    tags:
        - optional_tag1
        - optional_tag2
    options:
        replication: 0
        galera_cluster: 1
