#!/bin/bash

#Grep the version out of dpkg
version="$(dpkg -s nginx | grep Version)"

#Remove the 'Version:' part of the output
version=${version#*: }

cat <<EOF
{
    "Environment" : "{{ env }}",
    "Role" : "{{ role }}",
    "Size" : "{{ size }}",
    "Location" : "{{ location }}",
    "Cloud" : "{{ cloud }}",
    "Image" : "{{ image }}",
    "Component" : "Nginx",
    "Description" : "Web server",
    "Protocol" : "http",
    "Host" : "{{ ansible_host }}",
    "Port" : 80,
    "Endpoint" : "/nginx_status",
    "Check" : "http",
    "Type" : "external",
    "Version" : "$version"

}
EOF
