<?xml version='1.0' encoding='UTF-8'?>
<org.spootnik.LeiningenBuilder_-DescriptorImpl plugin="leiningen-plugin@0.5.6">
  <jarPath>/var/lib/jenkins/.lein/self-installs/leiningen-2.6.1-standalone.jar</jarPath>
</org.spootnik.LeiningenBuilder_-DescriptorImpl>
