# You may add here your
# server {
#	...
# }
# statements for each of your virtual hosts to this file

##
# You should look at the following URL's in order to grasp a solid understanding
# of Nginx configuration files in order to fully unleash the power of Nginx.
# http://wiki.nginx.org/Pitfalls
# http://wiki.nginx.org/QuickStart
# http://wiki.nginx.org/Configuration
#
# Generally, you will want to move this file somewhere, and start with a clean
# file but keep this around for reference. Or just disable in sites-enabled.
#
# Please see /usr/share/doc/nginx-doc/examples/ for more detailed examples.
##

server {
	 listen 80;

	 # Make site accessible from http://localhost/
        server_name localhost;

        location / {

   	#			auth_basic "Restricted";
    	#		auth_basic_user_file /etc/nginx/.htpasswd;

          root /usr/share/nginx/html/default;
          index index.html;

         # {% if groups['jenkins'] is defined %}
         #   {% for host in groups['jenkins'] %}
         #     {% if hostvars[host]['privateip'] is defined %}
         #       proxy_pass http://{{ hostvars[host]['privateip'] }}:3008;
         #       proxy_set_header Host $host;
         #       proxy_set_header X-Forwarded-For $remote_addr;
         #     {% endif %}
         #   {% endfor %}
         # {% endif %}
        
        }

        location /nginx_status {
          stub_status on;
          access_log  off;
          allow 127.0.0.1;
          deny all;
        }
}

